.btn {
  width: 150px;
  height: 40px;
  background-color: hotpink;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
.btn:hover {
  background-color: tomato ; 
}
.btn span {
  font-size: 22px;
  font-weight: 700;
}